---
// src/layouts/DocumentShell.astro
import '../styles/global.css';
import SeoBase, { type Props as SeoProps } from '~/components/SEO/SeoBase.astro';
import { SITE_THEME } from '~/config/theme';

export type Props = SeoProps;
const seoProps = Astro.props as SeoProps;
---

<!DOCTYPE html>
<html 
  lang="fr" 
  data-theme-action={SITE_THEME.action}
  data-bg-style={SITE_THEME.bgStyle}
  data-brand="klinova"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    
 
   <!-- ⚙️ GTM différé de 3 secondes -->
<script is:inline>
window.dataLayer = window.dataLayer || [];
window.addEventListener('load', () => {
  setTimeout(() => {
    (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start': new Date().getTime(), event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s), dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TWMFLQ5X');
  }, 10000); // ⏱️ délai avant chargement réel du GTM
});
</script>


    <SeoBase {...seoProps} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

    <!-- 🔹 Preload de la police du header -->
  <link
    rel="preload"
    href="/fonts/CaviarDreams-Bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
     media="(min-width:768px)"
  />

  <body class="font-sans bg-neutral-50 text-primary-900">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWMFLQ5X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <slot />

    <script is:inline src="/tracking-forms.js"></script>
  </body>
</html>